@model List<Picture>

@{
	int count = 1;
}

<div class="flex flex-row bg-white py-4 px-16 border-b border-gray-300 overflow-scroll" style="width: 100%">
	<div class="flex flex-col" style="width: 100%">
		<h4 class="h4 mb-4">Notifications</h4>

		<div class="card col-span-2 xl:col-span-1">
			<table class="table-auto w-full text-center">
				<thead>
					<tr>
						<th class="px-4 py-2 border-r"></th>
						<th class="px-4 py-2 border-r">Title</th>
						<th class="px-4 py-2 border-r">Description</th>
						<th class="px-4 py-2 border-r">Image</th>
						<th class="px-4 py-2 border-r">User Name</th>
						<th class="px-4 py-2 border-r"></th>
						<th class="px-4 py-2"></th>
					</tr>
				</thead>

				<tbody class="text-gray-600">
					@foreach (var notification in Model)
					{
						<tr>
							<td class="border border-l-0 border-b-0 px-4 py-2">
								@count
							</td>

							@if (notification.Title.Length > 12)
							{
								<td class="border border-l-0 border-b-0 px-4 py-2">@notification.Title.Substring(0, 9)...</td>
							}
							else
							{
								<td class="border border-l-0 border-b-0 px-4 py-2">@notification.Title</td>
							}

							@if (notification.Description.Length > 12)
							{
								<td class="border border-l-0 border-b-0 px-4 py-2">@notification.Description.Substring(0, 9)...</td>
							}
							else
							{
								<td class="border border-l-0 border-b-0 px-4 py-2">@notification.Description</td>
							}

							<td class="border border-l-0 border-b-0 px-4 py-2">
								<img class="num-2" src="@notification.ImageUrl" style="width:250px"></img>
							</td>

							@if (notification.user.UserName.Length > 12)
							{
								<td class="border border-l-0 border-b-0 px-4 py-2">@notification.user.UserName.Substring(0, 9)...</td>
							}
							else
							{
								<td class="border border-l-0 border-b-0 px-4 py-2">@notification.user.UserName</td>
							}

							<td class="border border-l-0 border-b-0 px-4 py-2">
								<a href="@Url.Action("Allow","Notification",notification)" class="btn-shadow">Allow</a>
							</td>

							<td class="border border-l-0 border-r-0 border-b-0 px-4 py-2">
								<a href="@Url.Action("Not_Allow","Notification",notification)" class="btn-danger">Deny</a>
							</td>
						</tr>
						count++;
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
