@model User

<div class="container-fluid p-4">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="mb-2" id="profile-picture">
            <a href="#">@Model.FirstName.ToUpper().ToCharArray()[0]</a>
        </div>
        <div class="d-flex align-items-center" id="profile-name">
            <h1 class="m-0">@Model.FirstName    @Model.LastName</h1>
        </div>
        <div class="mt-2 mb-3 d-flex align-items-center" id="profile-email">
            <h6 class="m-0">@Model.Email</h6>
        </div>
        <div class="my-2" id="profile-options">
            @*<a href="#" class="py-2 px-3 mr-1">Share</a>*@
            <a asp-action="Settings" asp-controller="User" class="py-2 px-3 ml-1">Edit profile</a>
        </div>
        <div class="my-5" id="profile-info">
            <a asp-action="Created" asp-controller="User" class="mr-3 info-active">Created</a>
            <a asp-action="Liked" asp-controller="User" class="ml-3">Liked</a>
        </div>
    </div>

    <div class="card-columns">
        @{
            if (ViewBag.images.Count > 0)
            {
                foreach (var item in ViewBag.images)
                {

                    <div class="card">
                        <img class="card-img-top probootstrap-animate" src="@item.ImageUrl" alt="Card image cap"
                    style="border-radius: 20px;">

                        <div class="card-div d-flex flex-column justify-content-between align-items-end">

                                    <div class="pt-3 px-3">
                                <button class="card-div-btn" id="like" onclick="likeBtnClick()">
                                    <span id="heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </span>
                                </button>
                                <button class="card-div-btn" id="download">
                                    <span>
                                        <i class="fa-solid fa-download"></i>
                                    </span>
                                </button>
                            </div>

                            <div class="details pb-3 px-3">
                                                <button class="card-div-btn"   id="@item.ImageUrl"    onclick="RemoveClick(this)">
                                        <span   id="@item.ImageUrl"    onclick="@Url.Action("RemoveImage","Home")">
                                        <i class="fa-solid fa-trash"></i>
                                    </span>
                                </button>
                                <a asp-action="ImageInfo" asp-controller="Home" id="more">
                                    <span class="py-2 px-3">More</span>
                                </a>
                            </div>


                        </div>

                    </div>
                }
            }

            else
            {
                <p>Hassan has no photos or videos yet 😔</p>
            }
        }
    </div>
</div>