@model List<User>

@{
	int count = 1;
}

<div class="flex flex-row bg-white py-4 px-4 border-b border-gray-300 overflow-scroll" style="width: 100%">

	<div class="flex flex-col" style="width: 100%">
		<div class="flex flex-col justify-center my-3" style="width: 100%">
			<h4 class="h4">Users</h4>

			<a href=@Url.Action("AddUser", "User") class="btn-shadow mt-6" style="display:flex; align-items:center; justify-content:center; width: 60px;">Add</a>
		</div>

		<div class="card col-span-2 xl:col-span-1">
			<table class="table-auto w-full text-center">
				<thead>
					<tr>
						<th class="px-4 py-2 border-r"></th>
						<th class="px-4 py-2 border-r">Id</th>
						<th class="px-4 py-2 border-r">FirstName</th>
						<th class="px-4 py-2 border-r">LastName</th>
						<th class="px-4 py-2 border-r">UserName</th>
						<th class="px-4 py-2 border-r">Email</th>
						<th class="px-4 py-2 border-r">Edit</th>
						<th class="px-4 py-2">Delete</th>
					</tr>
				</thead>

				<tbody class="text-gray-600">
					@foreach (var user in Model)
					{
						<tr>
							<td class="border border-l-0 border-b-0 px-4 py-2">
								@count
							</td>

							@if (user.Id.Length > 10)
							{
								<td class="border border-l-0 border-b-0 px-4 py-2">@user.Id.Substring(0, 12)...</td>
							}
							else
							{
								<td class="border border-l-0 border-b-0 px-4 py-2">@user.Id</td>
							}

							@if (user.FirstName.Length > 10)
							{
								<td class="border border-l-0 border-b-0 px-4 py-2">@user.FirstName.Substring(0, 12)...</td>
							}
							else
							{
								<td class="border border-l-0 border-b-0 px-4 py-2">@user.FirstName</td>
							}

							@if (user.LastName.Length > 10)
							{
								<td class="border border-l-0 border-b-0 px-4 py-2">@user.LastName.Substring(0, 12)...</td>
							}
							else
							{
								<td class="border border-l-0 border-b-0 px-4 py-2">@user.LastName</td>
							}

							@if (user.UserName.Length > 10)
							{
								<td class="border border-l-0 border-b-0 px-4 py-2">@user.UserName.Substring(0, 12)...</td>
							}
							else
							{
								<td class="border border-l-0 border-b-0 px-4 py-2">@user.UserName</td>
							}

							@if (user.Email.Length > 10)
							{
								<td class="border border-l-0 border-b-0 px-4 py-2">@user.Email.Substring(0, 12)...</td>
							}
							else
							{
								<td class="border border-l-0 border-b-0 px-4 py-2">@user.Email</td>
							}

							<td class="border border-l-0 border-b-0 px-4 py-2">
								<a href="@Url.Action("UpdateUser", "User", new {  Id = user.Id })" class="btn-shadow">Edit</a>
							</td>

							<td class="border border-l-0 border-r-0 border-b-0 px-4 py-2">
								<a href="@Url.Action("DeleteUser", "User", new {  Id = user.Id })" class="btn-danger btn-shadow">Delete</a>
							</td>
						</tr>
						count++;
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
