@model List<Picture>

<div class="container-fluid p-3">
	<div class="d-flex mb-4" id="search-bar">
		<div id="searchDiv" tabindex="0">
			<span class="text-primary" style="padding-top: 2px;">
				<i class="fa fa-search"></i>
			</span>
			@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { style = "width: 100%" }))
			{
				@Html.TextBox("searchPattern", null, new { style="width: 100%; margin-left: 10px; border: none; background-color: transparent; outline: none; border-radius: 20px", placeholder="Search", id="searchTxtBx"} )
			}

		</div>
		<div class="d-flex justify-content-end align-items-center w-25">
			@{

				if (User.Identity.IsAuthenticated)
				{
					if (User.IsInRole("Admin"))
					{
						<partial name="BeforeRegistration" />
					}
					else
					{
						<partial name="AfterRegistration" model="@ViewBag.user" />
					}
				}
				else
				{
					<partial name="BeforeRegistration" />
				}
			}
		</div>
	</div>

	<div id="searchSuggestions">
		<ul id="suggestionsUL">
			@*<li><a href="#">Adele</a></li>
			<li><a href="#">Agnes</a></li>

			<li><a href="#">Billy</a></li>
			<li><a href="#">Bob</a></li>

			<li><a href="#">Calvin</a></li>
			<li><a href="#">Christina</a></li>
			<li><a href="#">Cindy</a></li>*@
		</ul>
	</div>

	<div class="mb-4">
		<div class="owl-carousel" id="category-carousel">
			@foreach (var item in ViewBag.Category)
			{
				<div style="width: 100%; overflow: hidden; border-radius: 20px;">
					<div class="item">
						<div class="categoryClass" style="background-image: url('@item.ImageUrl');">
							<a id="@item.Name" class="link1" href="@Url.Action("SearchCatagory", "Home", new { searchPattern = item.Name })">@item.Name</a>
						</div>
					</div>
				</div>
			}
		</div>
	</div>

	<div class="card-columns" id="divajaxCall">
		@await Html.PartialAsync("ImageList", Model)
	</div>
</div>


@section Scripts{
	@*<script type="text/javascript">
		//$('#link1').click(function () {
		//	search_type = "category";
		//	category = $(this).attr('class')
		//	alert(category);
		//});

	</script>*@

	<script src="~/js/user/index.js"></script>

	<script type="text/javascript">
		$(window).scroll(scrollHandler);
	</script>

	<script type="text/javascript">
		$('.owl-carousel').owlCarousel({
			autoplay: true,
			autoplayTimeout: 1750,
			//autoplayHoverPause: true,
			loop: true,
			margin: 10,
			nav: true,
			responsive: {
				0: {
					items: 1
				},
				768: {
					items: 2
				},
				960: {
					items: 3
				},
				1000: {
					items: 4
				}
			}
		})

		$('.owl-prev').html('<span><i class="fa-solid fa-chevron-left"></i></span>')
		$('.owl-next').html('<span><i class="fa-solid fa-chevron-right"></i></span>')

		//different colored category carousel
		//var arr = $('#category-carousel .item').children()

		//$.each(arr, (index) => {
		//	var colorR = Math.floor((Math.random() * 200));
		//	var colorG = Math.floor((Math.random() * 200));
		//	var colorB = Math.floor((Math.random() * 200));

		//	$(arr[index]).css("background-color", "rgb(" + colorR + "," + colorG + "," + colorB + ")")
		//})
	</script>

	<script>
		$('#searchSuggestions').css({
			"width": $('#searchDiv').width()
		})

		$(window).resize(() => {
			//$('#searchSuggestions').css({
			//	"width": $('#searchDiv').width()
			//}),
			//alert($(window).width())
			
			if ($(window).width() <= 768 && $('#searchSuggestions').css('display') == 'block') {
				$("#searchSuggestions").fadeOut(150)
			}
		})

		$('#searchTxtBx').focus(() => {
			$("#searchSuggestions").fadeIn(150)
		})

		$('#searchTxtBx').focusout(() => {
			$("#searchSuggestions").fadeOut(150)
		})
	</script>
}
